In [1]:
!pip install pyplink

Collecting pyplink
  Downloading pyplink-1.3.5-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: six>=1.9.0 in /home/ahenschel/miniconda3/envs/admix/lib/python3.9/site-packages (from pyplink) (1.15.0)
Requirement already satisfied: numpy>=1.8.2 in /home/ahenschel/miniconda3/envs/admix/lib/python3.9/site-packages (from pyplink) (1.22.3)
Requirement already satisfied: pandas>=0.17.1 in /home/ahenschel/miniconda3/envs/admix/lib/python3.9/site-packages (from pyplink) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/ahenschel/miniconda3/envs/admix/lib/python3.9/site-packages (from pandas>=0.17.1->pyplink) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ahenschel/miniconda3/envs/admix/lib/python3.9/site-packages (from pandas>=0.17.1->pyplink) (2021.3)
Installing collected packages: pyplink
Successfully installed pyplink-1.3.5

In [2]:
from pyplink import PyPlink
import pandas as pd
import numpy as np

In [106]:
def af(gt, pop1, pop2):
    def avg(a): return a[a!=-1].mean()/2
    return (avg(gt[pop1])-avg(gt[pop2]))**2

In [114]:
    
bed = PyPlink("/home/ahenschel/Dropbox/Yemen/YemenGenomeAnalysis/AdmixTools_HO_mind0.7_geno_0.5_pop10/toy")
bim = bed.get_bim()
fam = bed.get_fam()
    
pop1 = "f1"
pop2 = "f2"

pop1 = fam[fam.fid==pop1]
pop2 = fam[fam.fid==pop2]

#index = np.array(list(pop1.index) + list(pop2.index))

#f2 = np.array([af(gt, pop1.index, pop2.index) for loc, gt in bed])
for loc, gt in bed:
    print(loc, gt, af(gt, pop1.index, pop2.index))

rs1 [0 0 0 2 2 2] 1.0
rs2 [0 0 0 2 2 2] 1.0
rs3 [0 0 0 2 2 2] 1.0
rs4 [0 0 0 2 2 2] 1.0

In [112]:
f2[f2!=np.nan].mean()

nan

In [80]:

a = np.array([5,6,4,-1,-1])
a[a!=-1].mean()

array([5, 6, 4])

In [75]:
a

array([ 5,  6,  4, -1, -1])

In [52]:
df.head()

   0  1  2  3  4  5  6  7
0  1  0  0  0  0  0  2  1
1  0  0  0  0  0  1  0  0
2  0  0  1  0  0  1  1  1
3  0  1  0  0  0  0  0  1
4  0  0  0  0  0  1  0 -1

In [64]:

df[df==-1] = np.nan

In [72]:
fA = df.iloc[:,:len(pop1)].mean(axis=1)/2
fB = df.iloc[:,len(pop1):].mean(axis=1)/2
f2 = fA - fB
f2.mean()

0.003270899260169708

In [70]:
fB

169    0.253966
170    0.249815
171    0.252375
172    0.250399
173    0.249280
174    0.249830
175    0.249298
176    0.254126
dtype: float64

In [47]:
1/7.

0.14285714285714285