

|Study | Context | Overlap|
|---|---|---|
|Yemen | HGDP |329K|
|Yemen | Reich "1240K" (Ancient)| 358K|
|Yemen | Reich Human Origins | 118K|
|Yemen| UKB| 91741|
|Yemen| UAE| 609685|
|---|---|---|
|UAE| hgdp| 552476|
|UAE| ReichHO| 179364|
|UAE| Reich1240K|   596568|
|UAE| UKB| 132315|


|1. Study | 2. Study | Context | Overlap|
|---|---|---|---|
|Yemen| UAE| HGDP| 328303|  
|Yemen| UAE| ReichHO | 118080|
|Yemen| UAE| Reich1240K| 358610|
|Yemen| UAE| UKB |91473|

In [5]:
import pandas as pd
pd.read_csv('../Reich/reich1240K_vs_HO.csv', sep='\t')

    Country  ReichHO  1240K
0  Ethiopia       13      1
1    Israel      369    236
2    Jordan       49     39
3   Lebanon       65     37
4     Sudan        4      1
5     Syria       24     16
6     Yemen      107      2

In [27]:
print(pd.read_csv('../Reich/reich1240K_vs_HO.csv', sep='\t').to_latex())

\begin{tabular}{llrr}
\toprule
{} &   Country &  ReichHO &  1240K \\
\midrule
0 &  Ethiopia &       13 &      1 \\
1 &    Israel &      369 &    236 \\
2 &    Jordan &       49 &     39 \\
3 &   Lebanon &       65 &     37 \\
4 &     Sudan &        4 &      1 \\
5 &     Syria &       24 &     16 \\
6 &     Yemen &      107 &      2 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_195130/2855536996.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(pd.read_csv('../Reich/reich1240K_vs_HO.csv', sep='\t').to_latex())

In [25]:
#pd.set_option()
context = 'Druze Bedouin Mozabite Palestinian'.split()
context2 = 'Brahui Makrani Balochi Sindhi'.split()
conDF = hgdp[hgdp.population.isin(context+context2)]
conDF.groupby('Geographic_origin').count()[['population']]

                   population
Geographic_origin
Algeria_(Mzab)             30
Israel_(Carmel)            48
Israel_(Central)           51
Israel_(Negev)             49
Pakistan                  100

In [28]:
stats = pd.read_csv('../statsAll.csv', sep='\t')
print(stats.to_latex())

\begin{tabular}{llrrllll}
\toprule
{} & Context &  individual &   SNP & \#Samples & \#Samples/QC &     \#SNPs &  \#SNPs QC \\
\midrule
0 &   1240K &        0.01 &  0.05 &     1661 &        1661 &    357926 &    349982 \\
1 &   1240K &        0.30 &  0.20 &     5180 &        5089 &    351021 &    328359 \\
2 &   1240K &        0.50 &  0.50 &     6414 &        6322 &    359158 &    338588 \\
3 &      HO &        0.01 &  0.05 &     5798 &        5798 &    116786 &     97758 \\
4 &      HO &        0.30 &  0.05 &     9291 &        8897 &     90403 &     83505 \\
5 &      HO &        0.30 &  0.20 &     9291 &        8897 &    118050 &    105232 \\
6 &      HO &        0.70 &  0.50 &    11151 &       10748 &    118286 &    107323 \\
7 &    hgdp &        0.30 &  0.20 &     1212 &        1212 &    328833 &    147216 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_195130/2073148.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(stats.to_latex())